$black: #091f2f;
$white: #ffffff;
$off-white: #f8f9fa;
$blue: #288be4;
//$red: #fb4d42;
$red: #DD404C;
$gray: #aaaaaa;
$teal: 	#80E2C7;
//$teal: 	#00ff9f;
$orange: #E7530B;
$yellow: #F9DD75;
$purple: #422965;
$beige: #F6E8DA;
$grey: #ACACAC;
$green: #4DA634;