@import "colors";
@import "reset";
@import "variables";

body {
  background-color: $off-white;
  overscroll-behavior: none;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.bg-diagonal-split {
  background-color: #34ADFF;
  background-image: -webkit-linear-gradient(-30deg, #34ADFF 45%, #4CBFFF 45%);
  min-height: 400px;
}

.animated-dashed-border {
  width: auto;
  background: linear-gradient(90deg, map-get($theme-colors, "primary") 50%, transparent 50%), linear-gradient(90deg, map-get($theme-colors, "primary") 50%, transparent 50%), linear-gradient(0deg, map-get($theme-colors, "primary") 50%, transparent 50%), linear-gradient(0deg, map-get($theme-colors, "primary") 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 4px, 30px 4px, 4px 30px, 4px 30px;
  padding: 16px;
  animation: border-dance 25s infinite linear;
}

@keyframes border-dance {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.img-rounded {
  border-radius: 8px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.text-faded {
  opacity: 0.25;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.hero-image {
  height: calc(100% - 5px);
}

.boxshadow {
  box-shadow: 0px 1px 10px map-get($theme-colors, "gray");
}

.page-header {
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

.rounded-big {
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  border-radius: 1.5rem;
}

.horizontal-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

.horizontal-container-large {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1800px;
}

.horizontal-container-half {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 600px;
}

//.case-study-section {
//  height: 100vh;
//  width: 100vw;
//  display: flex;
//  flex-direction: row;
//  justify-content: center;
//  align-items: center;
//  &.white-background {
//    background-color: $white;
//  }
//  &.teal-background {
//    background-color: $teal;
//  }
//  &.red-background {
//    background-color: $red;
//  }
//  &.blue-background {
//    background-color: $blue;
//  }
//  .carousel {
//    width: 70vw;
//    display: block;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//    .case-study-slide-title-container {
//      max-width: 40rem;
//      margin-left: auto;
//      margin-right: auto;
//      .case-study-slide-title {
//        font-size: 3rem;
//        color: $white;
//        border-bottom: 2px solid $white;
//        width: fit-content;
//        padding-right: 5rem;
//        padding-bottom: 1rem;
//        margin-bottom: 2rem;
//
//      }
//    }
//    .slick-slider {
//      button.slick-arrow::before {
//        font-size: 4rem;
//      }
//      button.slick-arrow {
//        &.slick-prev::before {
//          display: none;
//          //left: -2.5rem;
//        }
//      }
//      button.slick-arrow {
//      }
//    }
//  }
//}

.case-study-slide-content {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  color: $white;
  .title {
    font-size: 3rem;
    border-bottom: 2px solid $white;
    width: fit-content;
    padding-right: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .description {
    font-size: 1.5rem;

    // START - Bullet indent fix

    ul {
      counter-reset: foo;
      display: table;
    }

    ul > li {
      display: table-row;
    }

    ul > li::before {
      content: "+\00a0 ";
      display: table-cell; /* aha! */
      text-align: right;
    }
    // END - Bullet indent fix
  }
}

.reverse-order {
  @media (max-width: 425px) {
    order: -1; //places the image above description on mobile
  }
}

.section-title {
  text-align: center;
  font-size: 2rem;

  &.timeline {
    margin-top: 7rem;
  }
  &.projects {
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
  &.journalism {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 425px) {
  .section-title {
    &.timeline {
      margin-top: 7rem;
      margin-bottom: -2rem;
    }
    &.projects {
      margin-top: 3rem;
      margin-bottom: -1rem;
    }
    &.journalism {
      margin-top: 4rem;
      margin-bottom: -1rem;
    }
  }
}

.button {
  border-radius: 5px;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
  //font-size: 1.2rem;
  text-transform: uppercase;
}

a:hover.button {
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}
.bold {
  font-weight: 600;
}

.border-thick {
  border-width: 2px !important;
  border-color: map-get($theme-colors, "gray") !important;
}

.divider {
  border-color: $blue;
  border-top: 0;
  color: $blue !important;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.gray {
  color: $gray;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.teal {
  color: $teal;
}

.yellow {
  color: $yellow;
}


.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}