@import 'colors';
@import 'reset';

.section-title {
  text-align: center;
  font-size: 2rem;
  margin: 1rem auto;
}

.button {
  border: 1px solid $gray;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.gray {
  color: $gray;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.teal {
  color: $teal;
}

.yellow {
  color: $yellow;
}

