@import '../stylesheets/base';

.description-slider {
  padding-left: 1rem;
  padding-right: 1rem;
  .content {
    width: 300px;
    margin: 1rem auto;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-image: url("../img/portfolio_circle.png");
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    .description {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $white;
      padding-bottom: 1.5rem;
    }
  }
  .slider {
    max-width: 90%;
    margin: 0 auto;
    .labels {
      display: flex;
      justify-content: space-between;
    }
  }
}