@import '../stylesheets/base';

.goal-tracker {
  .header {
    margin-left: 9rem;
    margin-right: 9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    .project-card {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      max-width: 25rem;
      text-align: left;
      padding: 1rem;
      .title {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        color: $blue;
      }
      .subtitle {
        margin-top: 0.5rem;
        color: $gray;
        width: fit-content;
      }
      .description {

      }
    }
    .images {
      display: flex;
      flex-direction: row;
      .phone {
        width: 15rem;
        height: 25rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &.evaluations {
          background-image: url(../img/evaluations_left.png);
        }
        &.login {
          background-image: url(../img/login_center.png);
        }
        &.students {
          background-image: url(../img/my_students_right.png);
        }
      }
    }
  }
  .section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section-title {
      color: $white;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 3rem;
      margin-top: -3rem;
      font-size: 3rem;
      text-transform: uppercase;
    }
    .content {
      margin-left: 10rem;
      margin-right: 10rem;
      color: $white;
      //display: flex;
      //flex-direction: row;
      //justify-content: center;
      .title {
        font-size: 3rem;
        border-bottom: 2px solid $white;
        width: fit-content;
        padding-right: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem
      }
      .subtitle {
        font-size: 2rem;
      }
      .description {

      }
    }
    &.context {
      background-color: $teal;
    }
    &.problem {
      background-color: $red;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

    }
    &.solution {
      background-color: $blue;
    }
  }
}