.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .title {
      font-size: 3rem;
      font-family: Lato;
    }
    .tagline {
      margin-top: 2rem;
      max-width: 20rem;
    }
  }
  .summary {
    .subtitle {
      font-size: 1.3rem;
    }
  }

  .bar-charts {
    max-width: 20rem;
    width: 20rem;
    height:15rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    .bar {
      position: relative;
      width: 3rem;
      height: 12rem;
      &.journalism {
        background-color: red;
      }
      &.engineering {
        background-color: yellow;
      }
      &.product {
        background-color: blue;
      }
      .title {
        position: relative;
        top: -3rem;
      }
    }

  }
}