@import '../stylesheets/base';

.scroll-container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
}