@import '../stylesheets/base';


.media-vertical {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .iep-example-forms {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .iep-example {
      margin: 1rem;
      width: 17rem;
      height: 23rem;
      background-size: contain;
      background-repeat: no-repeat;
      &.five {
        background-image: url('../img/iep_example_5.png');
      }
      &.ten {
        background-image: url('../img/iep_example_10.png');
      }
      &.goal-creation {
        background-image: url('../img/goal_creation.png');
      }
      &.evaluation {
        background-image: url('../img/evaluation_screen.png');
      }
      &.progress-bars {
        background-image: url('../img/iep_progress_bars.png');
      }
      &.small {
        width: 8rem;
        height: 14rem;
      }
    }
  }
  .example-screenshots {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .quote-container {
    font-style: italic;
    .quote {

    }
    .attribution {
      font-size: 1rem;
      margin-left: 3rem;
    }
  }
}

.media-horizontal {
  margin-top: 2rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .example-screenshots {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .quote-container {
    font-style: italic;
    .quote {

    }
    .attribution {
      font-size: 1rem;
      margin-left: 3rem;
    }
  }
}

.iphone-frame {
  background-image: url('../img/iphone6_frame_black.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 21rem;
  height: 32.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .iep-example {
    margin: 1rem;
    width:100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &.goal-creation {
      background-image: url('../img/goal_creation.png');
    }
    &.evaluation {
      background-image: url('../img/evaluation_screen.png');
    }
    &.my-students {
      background-image: url('../img/my_students.png');
    }
    &.progress-bars {
      background-image: url('../img/iep_progress_bars.png');
    }
    &.student-detail {
      background-image: url('../img/student_detail.png');
    }
    &.goal-detail {
      background-image: url('../img/goal_detail.png');
    }
    &.evaluation-2 {
      background-image: url('../img/evaluation_screen2.png');
    }
  }
  &.small {
    width: 9rem;
    height: 16rem;
  }
}


.description-images-subtitle {
  max-width: 60%;
}
