@import '../stylesheets/base';

figure {
  background-color: $white;
  display: block;
  height: 0;
  margin: 2rem auto;
  position: relative;
  font-size:16px;
  font-size:1vw;
  width: 40em;
  padding-bottom: 40em;
}
figcaption {
  font-size:1rem;
  text-align:center;
  color:#fff;
  width: 100%;
  position: absolute;
  left: 0;
  top:40%;
  z-index:2;
}
svg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
.background-image {
  background-image: url(../img/portfolio_circle.png);
  background-size: cover;
  height: 40em;
  width: 40em;
}
circle {
  fill:rgba(0,0,0,0);
  stroke-width:31.8309886184;
  stroke-dasharray: 0,0,0,100;
  stroke-dashoffset: 25;
  animation-duration: 6s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-direction: normal;
  -webkit-animation-direction: normal;
  &.animate {

  }
  //&.reverse {
  //  fill:rgba(0,0,0,0);
  //  stroke-width:31.8309886184;
  //  stroke-dasharray: 0,0,0,100;
  //  stroke-dashoffset: 25;
  //  animation-duration: 6s;
  //  animation-timing-function: ease;
  //  animation-fill-mode: both;
  //  -webkit-animation-duration: 6s;
  //  -webkit-animation-timing-function: ease;
  //  -webkit-animation-fill-mode: both;
  //  animation-direction: reverse;
  //  -webkit-animation-direction: reverse;
  //}
}

.pie1 {
  cursor: pointer;
  stroke:$blue;
  animation-name: pie1;
  -webkit-animation-name: pie1;
  &.hide {
    opacity: 0;
  }
}
.pie2 {
  cursor: pointer;
  stroke:$red;
  -webkit-animation-name: pie2;
  animation-name: pie2;
  &.hide {
    opacity: 0;
  }
}
.pie3 {
  cursor: pointer;
  stroke:$teal;
  -webkit-animation-name: pie3;
  animation-name: pie3;
  &.hide {
    opacity: 0;
  }
}
.pie4 {
  cursor: pointer;
  stroke: $gray;
  -webkit-animation-name: pie4;
  animation-name: pie4;
  &.hide {
    opacity: 0;
  }
}


.pie-label {
  font-size: 0.3rem;
  opacity: 0;
  &.animate {
    opacity: 1;
    animation: show-pie-labels 3s;
  }
}

@keyframes show-pie-labels {
  from {
    opacity: 0
  }
  to   {
    opacity: 1;
  }
}

/*
 pie percentage made by stroke-dasharray.
 stroke-dasharray format is...

 keyframe 100% : 0 offset this-percentage rest

 I added keyframe 50% for infinite presentation.
*/

/* 1st pie is 40% */
@-webkit-keyframes pie1 {
  100%,50% {stroke-dasharray: 33,67,0,0;}
}
@keyframes pie1 {
  100%,50% {stroke-dasharray: 33,67,0,0;}
}
/* 2nd pie is 30% */
@-webkit-keyframes pie2 {
  100%,50% {stroke-dasharray: 0,33,15,52;}
}
@keyframes pie2 {
  100%,50% {stroke-dasharray: 0,33,15,52;}
}
/* 3rd pie is 30% */
@-webkit-keyframes pie3 {
  100%,50% {stroke-dasharray: 0,48,10,42;}
}
@keyframes pie3 {
  100%,50% {stroke-dasharray: 0,48,10,42;}
}
/* 4th pie is 10% */
@-webkit-keyframes pie4 {
  100%,50% {stroke-dasharray: 0,58,42,0;}
}
@keyframes pie4 {
  100%,50% {stroke-dasharray: 0,58,42,0;}
}
