@import '../stylesheets/base';

.projects {
  width: 100%;
  .project-card {
    max-width: 25rem;
    text-align: left;
    padding: 1rem;
    .title {
      font-size: 2rem;
      font-weight: 600;
      line-height: 2rem;
      color: $blue;
    }
    .subtitle {
      margin-top: 0.5rem;
      color: $gray;
      width: fit-content;
    }
    .description {

    }
  }

  .iep-goal-tracker {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 425px) {
      flex-direction: column;
      justify-content: center;
    }
    .images {
      display: flex;
      flex-direction: row;
      .phone {
        width: 10rem;
        height: 20rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width: 425px) {
          width: 7rem;
          height: 13rem;
        }
        &.evaluations {
          background-image: url(../img/evaluations_left.png);

        }
        &.login {
          background-image: url(../img/login_center.png);
        }
        &.students {
          background-image: url(../img/my_students_right.png);
        }
      }
    }
    &.pulse {
      animation: pulseAnimate 1500ms 1500ms !important;
      padding: 1rem;
    }
  }
  .street-art-talks {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 425px) {
      flex-direction: column;
      justify-content: center;
    }
    .images {
      display: flex;
      flex-direction: row;
      .street-art-talks-phone {
        width: 14rem;
        height: 25rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/street_art_talks.png);
        margin: 0 1rem;
        @media (max-width: 425px) {
          margin: 0 0.35rem;
        }
      }
      .murals {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .thumbnail {
          width: 8rem;
          height: 6rem;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          &.influence {
            background-image: url(../img/fairey_legislative_influence_for_sale.jpg);
          }
          &.peace {
            background-image: url(../img/eaton_peace_by_piece.jpg);
          }
          &.elephants {
            background-image: url(../img/martin_ivory.jpg);
          }
          &.faces {
            background-image: url(../img/starfighter_fanakapan.jpg);
          }
          &.bloom {
            background-image: url(../img/hueman_bloom.jpg);
          }
          &.abuelita {
            background-image: url(../img/el_mac_la_abuelita.jpg);
          }
        }
        @media (max-width: 425px) {
          width: 7rem;
          height: 14rem;
          margin: 0 auto;
        }
      }
    }
  }
  .scrum-ebook {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .images {
      display: flex;
      flex-direction: row;
      .ebook {
        width: 14rem;
        height: 25rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/scrum_ebook.png);
        @media (max-width: 425px) {
          width: 7rem;
          height: 10rem;
        }
      }
    }
    .description {
      max-width: 25rem;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &.pulse {
      animation: pulseAnimate 1500ms 1500ms !important;
      padding: 1rem;
    }
  }
}

@keyframes pulseAnimate {
  0% {
    box-shadow: unset;
  }
  50% {
    box-shadow: 0 0 20px 20px lighten($red, 20%);
  }
  100% {
    box-shadow: unset;
  }
}