@import '../stylesheets/base';

.projects {
  width: 100%;
  margin-top: 6rem;

  .project-section {
    margin-bottom: 5rem;
  }

  .iep-goal-tracker {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .images {
      display: flex;
      flex-direction: row;
      .phone {
        width: 11rem;
        height: 23rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &.evaluations {
          background-image: url(../img/evaluations_left.png);

        }
        &.login {
          background-image: url(../img/login_center.png);
        }
        &.students {
          background-image: url(../img/my_students_right.png);
        }
      }
    }
    &.pulse {
      animation: pulseAnimate 1500ms 1500ms !important;
      padding: 1rem;
    }
  }
  .street-art-talks {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .images {
      display: flex;
      flex-direction: row;
      align-items: center;
      //padding-left: 3rem;
      //padding-right: 4rem;
      .street-art-talks-phone {
        width: 14rem;
        height: 25rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/street_art_talks.png);
        margin: 0 1rem;
      }
      .murals {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .thumbnail {
          width: 8rem;
          height: 6rem;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          margin-bottom: 1rem;
          &.influence {
            background-image: url(../img/fairey_legislative_influence_for_sale.jpg);
          }
          &.peace {
            background-image: url(../img/eaton_peace_by_piece.jpg);
          }
          &.elephants {
            background-image: url(../img/martin_ivory.jpg);
          }
          &.faces {
            background-image: url(../img/starfighter_fanakapan.jpg);
          }
          &.bloom {
            background-image: url(../img/hueman_bloom.jpg);
          }
          &.abuelita {
            background-image: url(../img/el_mac_la_abuelita.jpg);
          }
        }
      }
    }
  }
  .popin-live {
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .images {
      display: flex;
      flex-direction: row;
      align-items: center;


      .projection-screen {
        width: 27rem;
        height: 27rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/popin_projector_screen.png);
        margin: 0 1rem;
      }
    }
  }
  .meetly {
    .macbook {
      width: 36rem;
      height: 20rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/meetly_marketing_site.png);
      margin: 0 1rem;
    }
  }
  @media (max-width: 425px) {
    .iep-goal-tracker {
      flex-direction: column;
      justify-content: center;
      .images {
        .phone {
          width: 6rem;
          height: 11rem;
          &.evaluations {
          }
          &.login {
          }
          &.students {
          }
        }
      }
      &.pulse {
      }
    }
    .street-art-talks {
      margin-top: 4rem;
      flex-direction: column;
        justify-content: center;
      .images {
        margin-bottom: 1rem;
        .street-art-talks-phone {
            margin: 0 -0.65rem;
            width: 8rem;
            height: 14rem;
        }
        .murals {
          width: 7rem;
          height: 14rem;
          margin: 0 auto;
          .thumbnail {
            width: 5rem;
            height: 4rem;
            &.influence {
            }
            &.peace {
            }
            &.elephants {
            }
            &.faces {
            }
            &.bloom {
            }
            &.abuelita {
            }
          }

        }
      }
    }
    .popin-live {
      flex-direction: column;
      margin-top: 4rem;
      .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        .projection-screen {
          width: 20rem;
          height: 20rem;
          margin: 0 1rem;
        }
      }
    }
    .meetly {
      flex-direction: column;
      margin-top: 4rem;
      .images {
        display: flex;
        flex-direction: row;
        align-items: center;
        .macbook {
          width: 20rem;
          height: 10rem;
          margin: 0 1rem 1rem 1rem;
        }
      }
    }
  }
  .scrum-ebook {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .images {
      display: flex;
      flex-direction: row;
      margin-bottom: 1rem;
      .ebook {
        width: 14rem;
        height: 25rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/scrum_ebook.png);
        @media (max-width: 425px) {
          width: 7rem;
          height: 10rem;
        }
      }
    }
    .description {
      max-width: 25rem;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &.pulse {
      animation: pulseAnimate 1500ms 1500ms !important;
      padding: 1rem;
    }
  }
}

@keyframes pulseAnimate {
  0% {
    box-shadow: unset;
  }
  50% {
    box-shadow: 0 0 20px 20px lighten($red, 20%);
  }
  100% {
    box-shadow: unset;
  }
}