@import '../stylesheets/base';

.projects {
  .iep-goal-tracker {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .images {
      display: flex;
      flex-direction: row;
      .phone {
        width: 14rem;
        height: 25rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width: 425px) {
          width: 7rem;
          height: 14rem;
        }
        &.evaluations {
          background-image: url(../img/evaluations_left.png);

        }
        &.login {
          background-image: url(../img/login_center.png);
        }
        &.students {
          background-image: url(../img/my_students_right.png);
        }
      }
    }
    &.pulse {
      animation: pulseAnimate 1500ms 1500ms !important;
      padding: 1rem;
    }
  }
  .street-art-talks {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .images {
      display: flex;
      flex-direction: row;
      .phone {
        width: 14rem;
        height: 25rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        @media (max-width: 425px) {
          width: 7rem;
          height: 14rem;
          margin: 0 auto;
        }
        &.influence {
          background-image: url(../img/influence.png);

        }
        &.street-art-talks {
          background-image: url(../img/street_art_talks.png);
          margin: 0 1rem;
          @media (max-width: 425px) {
            margin: 0 0.35rem;
          }
        }
        &.peace {
          background-image: url(../img/peace.png);
        }
      }
    }
  }
  .scrum-ebook {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .images {
      display: flex;
      flex-direction: row;
      .ebook {
        width: 14rem;
        height: 25rem;
        margin: 1rem auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/scrum_ebook.png);
        @media (max-width: 425px) {
          width: 7rem;
          height: 10rem;
        }
      }
    }
    .description {
      max-width: 25rem;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &.pulse {
      animation: pulseAnimate 1500ms 1500ms !important;
      padding: 1rem;
    }
  }
}

@keyframes pulseAnimate {
  0% {
    box-shadow: unset;
  }
  50% {
    box-shadow: 0 0 20px 20px lighten($red, 20%);
  }
  100% {
    box-shadow: unset;
  }
}


.project-card {
  max-width: 25rem;
  text-align: left;
  padding: 1rem;
  .title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
    color: $blue;
  }
  .subtitle {
    margin-top: 0.5rem;
    color: $gray;
    width: fit-content;
  }
  .description {

  }
}