@import '../stylesheets/base';

.content{
  margin-left: 10rem;
  margin-right: 10rem;
  color: $white;
  max-width: 60rem;
  .title {
    font-size: 3rem;
    border-bottom: 2px solid $white;
    width: fit-content;
    padding-right: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem
  }
  .subtitle {
    font-size: 2rem;
  }
  .description {
    font-size: 1.5rem;

    &.bullets {
      li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        list-style-type: circle;
        list-style-position: outside;
        position: relative;
        left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }
}