@import '../stylesheets/base';

.timeline {
  border-radius: 0.5rem;
  width: 100%;
  .timeline-card {
    margin-bottom: 1rem;
    .full-description {
      height: auto;
      max-height: 600px;
      transition: max-height 500ms ease-in-out;
      overflow:hidden;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
      li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        list-style-type: circle;
        list-style-position: outside;
        position: relative;
        left: 1.5rem;
        padding-right: 1.5rem;
      }
    }

    .arrow-container {
      display: none;
      cursor: pointer;
      animation: dropDown 1.5s infinite ease;
      color: map-get($theme-colors, "light-gray") !important;
      .expand-arrow {
        transition: transform 0.35s 0.35s ease;
        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.vertical-timeline::before {
  top: 37px;
  height:84%;
  background-color: map-get($theme-colors, "light-gray") !important;
}

.vertical-timeline-element-content {
  border: 3px solid map-get($theme-colors, "light-gray") !important;
  box-shadow: none;
  &.pulse {
    animation: pulseAnimate 1500ms 1500ms !important;
  }
}

.vertical-timeline-element:nth-of-type(even) {
  .vertical-timeline-element-content {
    &::before {
      border-right-color: map-get($theme-colors, "light-gray") !important !important;
    }
  }
}

.vertical-timeline-element:nth-of-type(odd) {
  .vertical-timeline-element-content {
    &::before {
      border-left-color: map-get($theme-colors, "light-gray") !important !important;
    }
  }
}


//Add this in to remove the arrows
.vertical-timeline-element-content {
  &::before {
    border-left-color: map-get($theme-colors, "light-gray") !important !important;
  }
  .vertical-timeline-element-content-arrow {
    border: map-get($theme-colors, "light-gray") !important;
  }
}

@media (max-width: 425px) {
  .timeline {
    .timeline-card {
      margin-bottom: -1rem;
      .full-description {
        &.open {
        }
        li {
        }
      }

      .arrow-container {
        display: inherit;
        .expand-arrow {
          &.rotate {
          }
        }
      }
    }
  }

  .vertical-timeline::before {
    height:86%;
  }

  .vertical-timeline-element-content {
    margin-left: 48px !important;
    &.pulse {
    }
    .vertical-timeline-element-date  {
      margin-top: 1rem;
      margin-bottom: -1rem;
    }
    &.bounce-in {
      animation: none !important;
    }
  }

  .vertical-timeline-element:nth-of-type(odd) {
    .vertical-timeline-element-content {
      &::before {
        border-left-color: transparent !important;
        border-right-color: map-get($theme-colors, "light-gray") !important;
      }
    }
  }
}

@media (min-width: 1170px) {

  .vertical-timeline-element-content {
    width: 46.2%!important;
    &.pulse {
    }
  }

  .vertical-timeline-element:nth-of-type(even) {
    .vertical-timeline-element-content {
      &::before {
      }
    }
    .vertical-timeline-element-date  {
      right: 118% !important;
    }
  }

  .vertical-timeline-element:nth-of-type(odd) {
    .vertical-timeline-element-content {
      &::before {
      }
    }
    .vertical-timeline-element-date  {
      left: 118% !important;
    }
  }
}


@keyframes pulseAnimate {
  0% {
    box-shadow: unset;
  }
  50% {
    box-shadow: 0 0 20px 20px map-get($theme-colors, "light-gray") !important;
  }
  100% {
    box-shadow: unset;
  }
}

@keyframes dropDown {
  0% {
    top: 0;
  }
  50% {
    top: 0.25rem;
  }
  100% {
    top: 0;
  }
}