@import '../stylesheets/base';

.timeline {
  border-radius: 0.5rem;
  width: 100%;
  .timeline-card {

    .full-description {
      max-height: 0;
      transition: max-height 1s ease-in-out;
      overflow:hidden;
      &.open {
        height: auto;
        max-height: 600px;
      }
      li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        list-style-type: circle;
        list-style-position: outside;
        position: relative;
        left: 1.5rem;
        padding-right: 1rem;
      }
    }
    .arrow-container {
      animation: dropDown 1.5s infinite ease;
      .expand-arrow {
        transition: transform 0.35s 0.35s ease;
        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@keyframes pulseAnimate {
  0% {
    box-shadow: unset;
  }
  50% {
    box-shadow: 0 0 20px 20px lighten($red, 20%);
  }
  100% {
    box-shadow: unset;
  }
}

@keyframes dropDown {
  0% {
    top: 0;
  }
  50% {
    top: 0.25rem;
  }
  100% {
    top: 0;
  }
}

.vertical-timeline::before {
  top: 37px;
  height:89%;
  background-color: lighten($red, 20%);
}


.vertical-timeline-element-content {
  border: 3px solid lighten($red, 20%);
  box-shadow: none;
  &.pulse {
    animation: pulseAnimate 1500ms 1500ms !important;
  }
}
.vertical-timeline-element-content:nth-of-type(odd) {
  &::before {
    border-left-color: lighten($red, 20%);
  }
}
.vertical-timeline-element-content:nth-of-type(even) {
  &::before {
    border-right-color: lighten($red, 20%);
  }
}