@import './stylesheets/base';
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');


.container {
  margin: 1rem auto 3rem auto;
  max-width: 1200px;
  @media (max-width: 425px) {
    padding: 1rem;
  }

}

